/* light mode  */
.wrapper {
  padding-inline: max(2rem, 15.3vw - 9rem);
}

.btn {
  border-color: transparent;
  font-size: 1.8rem;
  padding: 18px 24px;
  border-radius: 5px;
  font-weight: 700;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  cursor: pointer;
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
}

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  line-height: 1.3;
}

p {
  color: #595959;
  line-height: 1.5;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.6rem;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-moz-placeholder {
  color: unset;
}

:-ms-input-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

.hero {
  padding: 4rem max(2rem, 15.3vw - 9rem) 0;
}

.header {
  margin-bottom: clamp(2rem, 2rem + 4 * (100vw - 37rem) / 77, 6rem);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .menu-btn {
  cursor: pointer;
}
.navbar .menu-btn .none {
  display: none;
}
.navbar .menu {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  position: absolute;
  left: 0;
  top: 10vh;
  width: 100%;
  height: 90vh;
  padding-top: 10%;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
.navbar .menu .btn-cta {
  background-color: #f7ca18;
  font-family: "Space Grotesk", sans-serif;
  color: black;
}
.navbar .menu .btn-cta:hover {
  background-color: #ffe680;
  transition: background-color 0.5s ease;
}
.navbar .menu-links {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  align-items: center;
}
.navbar .menu-links li {
  font-family: "Space Grotesk", sans-serif;
  color: #595959;
  font-weight: 500;
}
.navbar .menu-links a:hover {
  -webkit-text-decoration: underline #f7ca18 0.5rem;
          text-decoration: underline #f7ca18 0.5rem;
  text-underline-offset: 0.5rem;
}
.navbar .menu.is-active {
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
  background-color: white;
}
@media screen and (min-width: 62.438rem) {
  .navbar {
    display: grid;
    justify-content: initial;
    grid-template-columns: -webkit-max-content auto;
    grid-template-columns: max-content auto;
  }
  .navbar .logo {
    margin-right: 3.2rem;
  }
  .navbar .menu-btn {
    display: none;
  }
  .navbar .menu {
    justify-content: space-between;
    pointer-events: auto;
    flex-direction: row;
    position: static;
    padding-top: 0;
    height: auto;
    width: auto;
    opacity: 1;
  }
  .navbar .menu-links {
    flex-direction: row;
    -moz-column-gap: 2.4rem;
         column-gap: 2.4rem;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.banner-img {
  max-width: 37.8rem;
  margin: 0 auto;
}

.banner-description h1 {
  margin-bottom: 4vh;
}
.banner-description p {
  margin-bottom: 2.4rem;
}
.banner-description .cursor {
  position: relative;
}
.banner-description .cursor::after {
  content: url(/Assets/never-highlight.svg);
  position: absolute;
  left: -0.7rem;
}
.banner-description .btn-cta {
  background-color: #f7ca18;
  font-family: "Space Grotesk", sans-serif;
  color: black;
}
.banner-description .btn-cta:hover {
  background-color: #ffe680;
  transition: background-color 0.5s ease;
}

@media screen and (min-width: 62.438rem) {
  .banner {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .banner-img {
    order: 1;
    margin: initial;
    max-width: 47.7rem;
  }
  .banner-description {
    flex-basis: 40vw;
  }
}
.collaboration {
  display: flex;
  row-gap: 3.2rem;
  flex-direction: column;
  margin-top: clamp(7.8rem, 7.8rem + 4.4 * (100vw - 37rem) / 77, 12.2rem);
}
@media screen and (min-width: 62.438rem) {
  .collaboration {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .collaboration-img {
    order: 1;
    margin: initial;
    max-width: 51.4rem;
  }
  .collaboration-description {
    flex-basis: 35vw;
  }
}

.collaboration-description h2 {
  margin-bottom: 8px;
}
.collaboration-description p {
  margin-bottom: 2.4rem;
}
.collaboration-description a {
  font-weight: 700;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-offset: 0.3rem;
}
.collaboration-description a:hover {
  -webkit-text-decoration: underline #f7ca18 0.5rem;
          text-decoration: underline #f7ca18 0.5rem;
  text-underline-offset: 0.5rem;
}

.testimonial {
  display: flex;
  row-gap: 3.2rem;
  margin-top: 8rem;
  flex-direction: column;
  margin-bottom: clamp(3rem, 3rem + 5 * (100vw - 37rem) / 77, 8rem);
}
.testimonial-description h2 {
  margin-bottom: 8px;
}
.testimonial-description p {
  margin-bottom: 1.6rem;
}

.testimonial-rating {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.testimonial-rating .data {
  font-weight: 700;
  margin-right: 0.5rem;
}
.testimonial-rating .data-text {
  color: #595959;
  margin-right: 1.6rem;
}
.testimonial-rating .avatars {
  display: flex;
}
.testimonial-rating .avatars img:not(:first-of-type) {
  margin-left: -20px;
}
.testimonial-rating .avatars img {
  border: 2px solid white;
  border-radius: 50%;
}

.user {
  display: flex;
}
.user .user-avatar {
  max-width: 9.8rem;
}
.user .user-description {
  background-color: #f6f7f9;
}
/*# sourceMappingURL=main.css.map */