@use "variables" as *;

//reset
html {
  font-family: $ff-text;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: $fs-body;
  line-height: $lh-body;
}

p {
  color: $c-text;
  line-height: $lh-text;
}

h1 {
  font-size: $fs-title;
}

h2 {
  font-size: $fs-subtitle;
}

h3 {
  font-size: $fs-title-footer;
  font-weight: 700;
}


h1,
h2 {
  font-family: $ff-heading;
  font-weight: bold;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}
