@use "variables" as *;
@use "button-toggle" as *;

.header-blog {
  padding-block: var(--wrapper-block); 
}

.nav {
  font-family: $ff-heading;
  font-weight: 500;
  color: $c-text; 

  li:last-child {
    margin-left: auto;
  }

  li:first-child {
    display: inline-block;
    height: 27px;
  }
}
