@use "variables" as *;

.hero {
  padding: 4rem $wrapper 0;
}

.header {
  margin-bottom: clamp(
    2rem,
    calc(2rem + (6 - 2) * ((100vw - 37rem) / (114 - 37))),
    6rem
  );
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .menu-btn {
    cursor: pointer;

    .none {
      display: none;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    position: absolute;
    left: 0;
    top: 10vh;
    width: 100%;
    height: 90vh;
    padding-top: 10%;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;

    .btn-cta {
      @include button-bg($c-primary);
    }
  }

  .menu-links {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    align-items: center;

    li {
      font-family: $ff-heading;
      color: $c-text;
      font-weight: 500;
    }

    a:hover {
      text-decoration: underline $c-primary 0.5rem;
      text-underline-offset: 0.5rem;
    }
  }

  .menu.is-active {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
    background-color: $c-white;
  }

  @include breakpoint(large) {
    display: grid;
    justify-content: initial;
    grid-template-columns: max-content auto;

    .logo {
      margin-right: 3.2rem;
    }

    .menu-btn {
      display: none;
    }

    .menu {
      justify-content: space-between;
      pointer-events: auto;
      flex-direction: row;
      position: static;
      padding-top: 0;
      height: auto;
      width: auto;
      opacity: 1;
    }

    .menu-links {
      flex-direction: row;
      column-gap: 2.4rem;
    }
  }
}

.banner {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.banner-img {
  max-width: 37.8rem;
  margin: 0 auto;
}

.banner-description {
  h1 {
    margin-bottom: 4vh;
  }

  p {
    margin-bottom: $mg-x3;
  }

  .cursor {
    position: relative;
  }

  .cursor::after {
    content: url(/Assets/never-highlight.svg);
    position: absolute;
    left: -0.7rem;
  }

  .btn-cta {
    @include button-bg($c-primary);
  }
}

@include breakpoint(large) {
  .banner {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    &-img {
      order: 1;
      margin: initial;
      max-width: 47.7rem;
    }

    &-description {
      flex-basis: 40vw;
    }
  }
}
