@use "variables" as *;

.pricing {
  display: flex;
  row-gap: 4px;
  flex-wrap: wrap;
  margin-top: clamp(
    0.2rem,
    calc(0.2rem + (8 - 0.2) * ((100vw - 37rem) / (114 - 37))),
    8rem
  );
  margin-bottom: 8rem;
}

.pricing-card {
  flex: 1 1 260px;

  .card-wrapper {
    display: grid;
    padding: 3.6rem;
  }

  .card-title {
    margin-bottom: $mg-x1;
    display: grid;

    span {
      font-weight: 500;
      font-size: $fs-body;
    }
  }

  .card-text,
  ul {
    margin-bottom: $mg-x3;
  }

  .card-list {
    display: grid;
    row-gap: $mg-x2;
    font-family: $ff-heading;

    li {
      display: flex;
      column-gap: $mg-x2;
      align-items: center;
    }
  }

  .btn-cta {
    @include button-bg($c-primary);
  }
}

.card-cta {
  background-color: $c-bg-secondary;
  border-radius: $br-big;

  .span-text,
  p {
    color: $c-card-text-cta;
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: $mg-x2;
    column-gap: $mg-x3;
  }
}

@include breakpoint(medium) {
  .pricing {
    &-card:nth-of-type(1) > .card-wrapper {
      padding-left: 0;
    }

    &-card:nth-of-type(2) {
      order: 1;
    }

    &-card:nth-of-type(3) > .card-wrapper {
      padding-right: 0;
    }
  }
}

@include breakpoint(large) {
  .pricing {
    column-gap: 4rem;

    &-card:nth-of-type(1) > .card-wrapper {
      padding-left: 3.6rem;
    }

    &-card:nth-of-type(2) {
      order: 0;
    }

    &-card:nth-of-type(3) > .card-wrapper {
      padding-right: 3.6rem;
    }
  }

  .card-cta {
    .card-list {
      display: inherit;
    }
  }
}
