// Color
/* light mode  */
$c-title: hsla(0, 0%, 0%, 1);
$c-text: hsla(0, 0%, 23%, 1);
$c-input-onboarding: #509ad6;
$c-white: hsla(0, 0%, 100%, 1);
$c-primary: hsla(48, 93%, 53%, 1);
$c-secondary: hsla(52, 83%, 14%, 1);
$c-error-input: hsla(0, 0%, 100%, 1);
$c-bg-primary: hsla(220, 18%, 97%, 1);
$c-bg-secondary: hsla(235, 9%, 29%, 1);
$c-btn-hprimary: hsla(48, 100%, 75%, 1);
$c-btn-hsecondary: hsla(52, 23%, 50%, 1);
$c-card-text-cta: hsla(223, 7%, 79%, 1);

// Font family
$ff-footer: "Inter", sans-serif;
$ff-text: "Source Sans Pro", sans-serif;
$ff-heading: "Space Grotesk", sans-serif;

// Font size
$fs-body: 1.8rem;
$fs-title: 5.6rem;
$fs-subtitle: 3.6rem;
$fs-title-footer: 2rem;

//line-height
$lh-text: 1.5;
$lh-body: 1.3;
$lh-footer: 1.2;

// margin
$mg-x1: 8px;
$mg-x2-2: 1.4rem;
$mg-x2: 1.6rem;
$mg-x3: 2.4rem;
$mg-x4: 3.2rem;

// border-radius
$br-small: 5px;
$br-big: 10px;

// wrapper
$wrapper: max(2rem, 15.3vw - 18rem / 2);

// breakPoints
$breakpoints: (
  small: 31.188rem,
  medium: 43.688rem,
  large: 62.438rem,
  xlarge: 87.438rem,
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}

//button
@mixin button-bg($bg) {
  justify-content: center;
  background-color: $bg;
  max-width: 100%;

  @if $bg == $c-primary {
    font-family: $ff-heading;
    color: $c-title;
    &:hover {
      background-color: $c-btn-hprimary;
      transition: background-color 0.5s ease;
    }
  } @else if $bg == $c-secondary {
    font-family: $ff-text;
    color: $c-white;
    &:hover {
      color: $c-title;
      background-color: $c-btn-hsecondary;
      transition: background-color 0.5s ease;
    }
  }
}

.wrapper {
  padding-inline: max(2rem, 15.3vw - 9rem);
}

.sr-only {
  display: none;
}

.fs-title {
  font-size: $fs-title !important;
}

.visually-hidden {
  display: none;
}

.flex-items {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.btn {
  border-color: transparent;
  font-size: $fs-body;
  padding: 18px 24px;
  border-radius: 5px;
  font-weight: 700;
  max-width: max-content;
  cursor: pointer;
  display: flex;
  column-gap: 16px;
  align-items: center;
}
